@import 'assets/styles/variables.scss';
.container {
  width: 70%;
  margin-inline: 1rem;
  height: 80vh;
  color: $color-light;
  position: relative;
}
.messages {
  height: 85%;
  box-sizing: border-box;
  overflow: auto;
}
.message {
  display: flex;
  padding-top: 1rem;
  p {
    margin-right: 1rem;
  }
}
.messageInput {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
}
